.top-article {
	margin-top: 1rem;
	width: 100%;
	height: 40rem;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	.top-cont {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 4.2rem;

		border-bottom: 1px solid rgba(0, 0, 0, 0.2);

		.text-desc {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.heading {
				font-size: 1.1rem;
				font-weight: 500;
				margin: 0;
			}
			.last-time {
				font-size: 0.8rem;
				font-weight: 500;
				opacity: 0.6;
				margin: 0;
			}
		}
		.timeline {
			height: 100%;
			padding: 1rem;
			margin-top: 1.2rem;
			display: flex;
			align-items: flex-start;
			.btn {
				background-color: transparent;
				border: 0;
				border-radius: 5px;
				height: 1.8rem;
				width: 1.8rem;
				margin-left: 0.6rem;
				padding: 0.2rem;

				h5 {
					font-weight: 500;
					margin: 0;
					opacity: 0.6;
					font-size: 1rem;
				}
			}
			.btn:hover {
				background-color: #e5e7eb;
				h5 {
					color: blue;
					font-weight: 600;
				}
			}
		}
	}
	.down-cont {
		margin-top: 0.5rem;
		display: flex;
		flex-direction: column;
	}
}
