.container {
	display: flex;
	width: 8rem;
	height: 3rem;
	align-items: center;
	svg {
		height: 20px;
		opacity: 0.5;
	}
	h5 {
		margin: 0;
		margin-left: 0.4rem;
		font-size: 1.2rem;
		font-weight: 500;
	}
}
